In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
matches = pd.read_csv('matches.csv', index_col=0)
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,14.6,1.0,0.0,0.0,2022,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,13.0,0.0,0.0,0.0,2022,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.8,0.0,0.0,0.0,2022,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,22.0,8.0,15.5,1.0,0.0,0.0,2022,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,16.3,1.0,0.0,0.0,2022,Arsenal

In [4]:
max(matches.date)

'2023-02-26'

In [5]:
min(matches.date)

'2017-08-11'

In [6]:
matches.shape

(4278, 27)

In [7]:
20*38*5

3800

In [8]:
matches["team"].value_counts()

Manchester City             215
Tottenham Hotspur           215
Arsenal                     214
Manchester United           214
Southampton                 214
Chelsea                     214
Everton                     214
Crystal Palace              214
West Ham United             214
Leicester City              214
Newcastle United            213
Liverpool                   213
Brighton and Hove Albion    212
Burnley                     190
Wolverhampton Wanderers     176
Watford                     152
Aston Villa                 138
Bournemouth                 138
Fulham                      101
Leeds United                100
Norwich City                 76
West Bromwich Albion         76
Sheffield United             76
Huddersfield Town            76
Brentford                    61
Cardiff City                 38
Swansea City                 38
Stoke City                   38
Nottingham Forest            24
Name: team, dtype: int64

In [9]:
matches["round"].value_counts()

Matchweek 1     120
Matchweek 15    120
Matchweek 24    120
Matchweek 12    120
Matchweek 23    120
Matchweek 2     120
Matchweek 21    120
Matchweek 20    120
Matchweek 19    120
Matchweek 18    120
Matchweek 17    120
Matchweek 16    120
Matchweek 22    120
Matchweek 14    120
Matchweek 6     120
Matchweek 13    120
Matchweek 4     120
Matchweek 5     120
Matchweek 3     120
Matchweek 9     120
Matchweek 10    120
Matchweek 11    120
Matchweek 8     116
Matchweek 25    116
Matchweek 7     106
Matchweek 30    100
Matchweek 37    100
Matchweek 33    100
Matchweek 36    100
Matchweek 35    100
Matchweek 34    100
Matchweek 26    100
Matchweek 32    100
Matchweek 31    100
Matchweek 29    100
Matchweek 28    100
Matchweek 27    100
Matchweek 38    100
Name: round, dtype: int64

In [11]:
matches.season.value_counts()

2021    760
2020    760
2019    760
2018    760
2017    760
2022    478
Name: season, dtype: int64

In [13]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [14]:
matches['date'] = pd.to_datetime(matches['date'])

In [15]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [16]:
df = matches.copy()

In [17]:
df['venue']

0     Away
1     Home
2     Away
3     Home
4     Home
      ...
38    Away
39    Home
40    Away
41    Home
42    Away
Name: venue, Length: 4278, dtype: object

In [19]:
df['venue_code'] = df['venue'].astype("category").cat.codes

In [20]:
df["opp_code"] = df["opponent"].astype("category").cat.codes

In [21]:
df["target"] = (matches["result"] == "W").astype("int")

In [22]:
df["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [23]:
df["day_code"] = df["date"].dt.dayofweek